[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pandas = "*"
matplotlib = "*"
mplfinance = "*"
pyqtgraph = "*"
yfinance = "*"
websocket-client = "*"
dash = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.13"
